.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px grey;


}
.heading_div{
    float:none;
    background-color: honeydew;
    padding: 10px;
    border-radius: 20px;
    color:blue ;
    box-shadow:5px 5px 5px grey;
}
.heading_div2{
    font-size: 18px;
}
.result_para_tag{
    box-shadow:5px 5px 5px grey;
    font-size: 20px;

}
.copy_right_footer{
    position:fixed;
    color: ivory;
    bottom: 0;
    width: 100%;
    background-color: lightsteelblue;
    line-height: 3;
    text-align: center;

}
canvas{
    border: 5px solid;
    border-color: rgb(8, 202, 216);
    border-radius: 20px;
    box-shadow: 5px 5px 5px  grey;
    margin-top: 150px;
}
